.counter {
    display: flex;
    background: black;
    color: white;
    font-size: 90px;
    justify-content: space-around;
    margin: 30px 20px 30px 20px;
    width: auto;
}

.icon {
    align-self: center;
}